<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="life.css">
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<div id="map-universe">

		<div style="float: left; margin-top: 10px; margin-right: 10px;">
			<create-map v-if="isShowCreateMap" :prop="newMapUniverse"></create-map>

			<change-map @change="changeUniverseMapNumber" v-if="isShowChangeMap" :propchange="ChangenewMapUniverse"></change-map>

			<change-map2 @change2="changeUniverseMapNumber2" v-if="isShowChangeMap2" :propchange2="ChangenewMapUniverse"></change-map2>
		</div>

		<div style="float: left; margin-top: 35px; margin-right: 10px;">
			<child-map @change="changeUniverseMapNumber" v-if="isShowChildMap" :propchild="ChangenewMapUniverse" :x=50 :y=50></child-map>

			<child-map2 @change2="changeUniverseMapNumber2" v-if="isShowChildMap2" :propchild2="ChangenewMapUniverse" :x=50 :y=50></child-map2>
		</div>

		<div style="float: left; margin-top: 35px; margin-right: 10px;">
			<child-map @change="changeUniverseMapNumber" v-if="isShowChildMap" :propchild="ChangenewMapUniverse" :x=30 :y=30></child-map>

			<child-map2 @change2="changeUniverseMapNumber2" v-if="isShowChildMap2" :propchild2="ChangenewMapUniverse" :x=30 :y=30></child-map2>
		</div>

		<div style="float: left; margin-top: 35px; margin-right: 10px; ma">
			<child-map @change="changeUniverseMapNumber" v-if="isShowChildMap" :propchild="ChangenewMapUniverse" :x=10 :y=10></child-map>

			<child-map2 @change2="changeUniverseMapNumber2" v-if="isShowChildMap2" :propchild2="ChangenewMapUniverse" :x=10 :y=10></child-map2>
		</div>

		<div style="float: left; margin-top: 35px; margin-right: 10px; ma">
			<child-map @change="changeUniverseMapNumber" v-if="isShowChildMap" :propchild="ChangenewMapUniverse" :x=1 :y=30></child-map>

			<child-map2 @change2="changeUniverseMapNumber2" v-if="isShowChildMap2" :propchild2="ChangenewMapUniverse" :x=1 :y=30></child-map2>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>