#map-universe {
  float: left;
  margin-left: 10px;
}

.clear {
  clear: both;
}

.showMap {
  margin-bottom: 10px;
}

button{
  margin-bottom: 5px;
}

.status-1 {
  background-color: #59fb09;  /*#231475*/
  width: 6px;
  height: 6px;
  border: solid 1px #5c59d0d6;
  float: left;
}

.status-0 {
  background-color: #ffee00;
  width: 6px;
  height: 6px;
  float: left;
}